# binaries
build/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEs
.idea/

# api gen
internal/platform/server/.openapi-generator
internal/platform/server/openapi/*.go

# not ignore services
!internal/platform/server/openapi/*_service.go
