# binaries
build/

# tests
coverage/
*.out

# IDEs
.idea/
.fleet/

# api gen
internal/platform/server/.openapi-generator
internal/platform/server/openapi/*.go

# not ignore services
!internal/platform/server/openapi/*_service.go
